/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Matt Hare
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize */
@import "normalize.css";
/* 1.2 Google Font */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General Styles */

html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

   body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }

  .tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
  }

  nav ul li { 
    display: inline-block; 
    list-style: none; 
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0e89D4;
    width: 100%;
  
  }
  a {
    color: white;
    text-decoration: none;
  }
  #navlist {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    padding: 0px;
  }

  footer{
    margin-bottom: 3em;
   }

   img{
       border-style: none;
   }

   header, footer{
    background-color: #0e89D4;
}
   #site-brand {
    font-size: 1.7em;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
  }
 
  #logo {
      width: 50px;
      height: 50px;
  }

  #head {
    display: flex;
    width: 100%;
  }
  #locname {
    font-size: 1.9em;
    padding: 0px;
    margin: 0px;
  }
  #locinfo{
    font-size: .6em;
    padding: 0px;
  }
  #temptitle{
    margin: 0px;
  }
  #currtemp{
    font-size: 5em;
    padding: 0px;
    font-weight: 300;
    margin: 0px;
  }
  #high{
    color: red;
    padding: 15px;
  }
  #low{
    color: blue;
    display: inline;
  }
  #windtitle {
    margin: 5px;
  }
  #strength{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
  }
  #windpiczone{
    position: relative;
  }
  #windpic{
    height: 150px;
    width:150px;
    background: no-repeat center/85% url('/weather/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
    
  }

  .n{
    transform: rotate(0deg);
  }
  .ne{
    transform: rotate(45deg);
  }
  .e{
    transform: rotate(90deg);
  }
  .se{
    transform: rotate(135deg);
  }
  .s{
    transform: rotate(180deg);
  }
  .sw{
    transform: rotate(225deg);
  }
  .w{
    transform: rotate(270deg);
  }
  .nw{
    transform: rotate(315deg);
  }

  #direc{
    margin: 10px;
  }
  #gust{
    margin:10px;
  }
  #status{
    width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #hourlylist{
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
  }
  #hourly ul li{
    display: inline-block;
    list-style: none;
  }
  #hourly li{
    flex-shrink: 0;
  }

/*mobile*/

  .clear{
    background:  no-repeat center url(/weather/images/clear_small.jpg);
  }
  .snow{
    background: no-repeat center url(/weather/images/snow_small.jpg);
  }
  .cloudy{
    background: no-repeat center url(/weather/images/clouds_small.jpg);
  }
  .rain{
    background: no-repeat center url(/weather/images/rain_small.jpg);
  }
  .fog{
    background: no-repeat center url(/weather/images/fog_small.jpg);
  }
  .hide{
    display: none;
  }
  
/*Medium screens*/

@media (min-width: 41.67em) {

  nav{
    display: inline-block;
    position: relative;
    background-color: #0e89D4;
  }
  #curWeather{
    display: flex;
  }
  #temps{
    margin: 0px;
    width: 33%;
  }
  #locinfo{
    font-size: .9em;
  }
  #wind{
    margin: 0px;
    width: 33%;
  }
  #summary{
    margin: 0px;
    width: 33%;
  }
  #currtemp{
    margin: 30px;
  }
  #high{
    font-size: 1.5em;
  }
  #low{
    font-size: 1.5em;
  }
  #feels{
    font-size: 1.3em;
    font-weight: 500;
  }
  
}

  


 