/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Matt Hare
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize */
@import "normalize.css";
/* 1.2 Google Font */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General Styles */

html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

   body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }

  .tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
  }

  nav ul li { 
    display: inline-block; 
    list-style: none; 
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  footer{
    margin-bottom: 2em;
   }

   img{
       border-style: none;
   }

   header, footer{
    background-color: #0e89D4;
}
   #site-brand {
    font-size: 2em;
    font-weight: 600;
    display: inline;
  }
 
  #logo {
      width: 350px;
      height: 350px;
  }

  #status {
      width: 200px;
      height: 200px;
  }
  


 